---
title: Zutaten
---

<div class="banner-image flex justify-center items-center">

  <div class="pa2 bg-white br2">

    <input
      class="awesomplete f3 input-reset ba b--black-40 pa2 db br2"
      data-list='<%= ingredient_titles %>'
      placeholder="Search ingredients..." />

  </div>

</div>


